/* Padding: 16 px on top and bottom, 0 on left and right.
*/
.header {
    background: $off-black;
    color: white;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

/* For large devices, use the large bottom margin.  For small
   devices, the margin bottom is a medium size.
 */
 @media(min-width: $desktop-breakpoint) {
     .header {
         margin-bottom: $xl-size;
     }
 }
